.modal {
  display: flex;
  align-items: flex-start;
  margin: 0;
  flex-direction: column;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: white;
  z-index: 2;

  .modal__container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }

  .modal__header {
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: space-between;
  }

  .modal__header div {
    margin: 20px;
    display: flex;
    align-items: center;
  }

  .modal__header_exit {
    margin: 20px;
  }

  .modal__header div > img {
    width: 40px;
    height: 40px;
    margin-right: 5px;
  }

  .modal__navigation ul li {
    list-style-type: none;
    color: #606060;
    font-size: 42px;
    text-transform: uppercase;
    margin-right: 120px;
  }

  .modal__networkTwitter {
    background: black;
  }

  .modal__network img {
    margin-left: 20px;
  }

  .modal__connect {
    margin-right: 5vw;
    height: 50px;
    width: 300px;
    border-radius: 10px;
    background: #141416;
    color: white;
    text-transform: uppercase;
    margin-bottom: 30px;
    margin-left: 35px;
  }
}
